# Created by https://www.toptal.com/developers/gitignore/api/docker
# Edit at https://www.toptal.com/developers/gitignore?templates=docker

#!! ERROR: docker is undefined. Use list command to see defined gitignore types !!#

data/*

# End of https://www.toptal.com/developers/gitignore/api/docker
n